.code_box_outer{
    border-radius:5px;
    border:1px solid #dedede;
    background-color:#f1f1f1;
}
.code_box_title{
    background-color:#ffffff;
    border-bottom:1px solid #dedede;
    padding:10px 15px;
}
.code_title{
    color:#7c4dff;
    font-weight:bold;
    font-size:12px;
}
.data_highlight{
    color:#1AD6F5;
    #color:#7c4dff;
    font-size:16px;
}
